:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-bg-color: #2E2F42;
    --white-bg-color: #FFFFFF;
    --modal-bg-color: #FCFCFC;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--white-bg-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--text-color)
  }

ul, ol {
    list-style-type: none;
}

address {
    font-style: normal;
}

button {
    border: none;
    cursor: pointer;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--dark-color);
    line-height: 21px;
    letter-spacing: 0.03em;
}

.logo-color {
    color: var(--primary-brand-color);
}

.nav-item {
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--dark-color);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--pressed-state-color);
}

.contacts-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-info:hover,
.contacts-info:focus {
    color: var(--pressed-state-color);
}

.order-service {
    background-color: var(--dark-color);
}

.order-service-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-bg-color);
}

.order-service-btn {
    color: var(--white-bg-color);
    font-size: 16px;
    letter-spacing: 0.04em;
    background-color: var(--primary-brand-color);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: var(--pressed-state-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.element-title {
    font-weight: 500;
    color: var(--dark-color);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.works-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.features-text {
    color: var(--text-color);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-title {
    font-size: 36px;
    color: var(--dark-color);
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.team {
    background-color: var(--light-color);
}

.footer {
    background-color: var(--dark-color);
}

.logo-white {
    color: var(--light-color);
}

.footer-text {
    color: var(--light-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.works-btn {
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.works-btn:hover,
.works-btn:focus {
    color: var(--white-bg-color);
    background-color: var(--pressed-state-color);
}